#home {
    margin-top: 32px
}

.login-container {
    margin-top: 32px;
}

#login-button {
    margin-top: 32px;
}
#operated-by {
    margin-top: 8px;
    color: darkgrey;
}

#operated-by a {
    color:grey;
    font-weight: bold;
}

.details {
    margin-top: 32px;
}

.details-welcome {
    color: black;
}

.details-logos img {
    margin: 12px;
    text-align: right;
}

.details p {
    color: grey;
}

.questions {
    margin-top: 12px;
}

.questions > div {
    margin-top: 32px;
    padding-top: 16px;
    border-top: 2px lightgrey dotted;
}

.footer {
    padding-top: 64px;
    text-align: center;
    color: darkgrey;
}

.footer a {
    color: darkgrey;
    text-decoration: underline;
}

#berkeley-logo {
    max-width: 650px;
}
